@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #F26922;
    --color-secondary: #71717A;
    --color-tertiary: #A1A1AA;
    --color-accent: #09090B;
    --color-foreground: #FAFAFA;
    --font-onest: "Onest", sans-serif;
}
/*Design for the Card*/
.CardBoard {
    @apply mx-2 sm:mx-10 md:mx-5 my-2 lg:mx-30 mt-5 cursor-pointer;
}