@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #F26922;
    --color-secondary: #71717A;
    --color-tertiary: #A1A1AA;
    --color-accent: #09090B;
    --color-foreground: #FAFAFA;
    --font-onest: "Onest", sans-serif;
}